<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="pathprefix" content="{{ '/' | htmlBaseUrl }}">
	<title>{{ settings.name }}</title>
</head>
<body>
	<header id="head">
		<a href="#" id="logo" title="GenRoll" data-num="5">GenRoll <i></i></a>
		<script>
			(()=>{
				const logo = document.getElementById('logo');
				let length = 10;
				let frame = 0;
				let time;
				logo.onclick = (e)=>{
					e.preventDefault();
					if(time) clearTimeout(time);
					time = setTimeout(()=>{
						logo.dataset['num'] = Math.ceil(Math.random() * 6);
						if(frame++ < length) logo.click();
						else frame = 0;
					}, 100);
				};
				logo.click();
			})();
		</script>
		<nav>
			<menu>
				<li><a href="/">Home</a></li>
				<li><a href="/create">Create A Generator</a></li>
				<li><a href="https://gitlab.com/LionUCS/genroll">Source</a></li>
			</menu>
		</nav>
	</header>
	{{ content | safe }}
</body>
{%- for s in scripts %}
<script src="{{ s.src }}"{% if s.integrity %} integrity="{{ s.integrity }}"{% endif %}{% if s.crossorigin %} crossorigin="{{ s.crossorigin }}"{% endif %}></script>
{%- endfor %}
{%- for s in styles %}
<link rel="stylesheet" href="{{ s.src }}"{% if s.integrity %} integrity="{{ s.integrity }}"{% endif %}{% if s.crossorigin %} crossorigin="{{ s.crossorigin }}"{% endif %}/>
{%- endfor %}
</html>