---
layout: base
scripts:
  -
   src: https://cdn.jsdelivr.net/npm/cash-dom@8.1.5/dist/cash.min.js
  -
   src: https://cdn.jsdelivr.net/npm/markdown-it@13.0.1/dist/markdown-it.min.js
styles:
  -
   src: /css/style.css
---
{{ content | safe }}