---
eleventyExcludeFromCollections: true
---
[
{%- set a = ['all', 'gens'] -%}
{%- for tag, gens in collections -%}
{%- if tag not in a -%}
{"name": "{{ tag }}", "gens": [{% for gen in gens | sort(attribute="gen.data.name") %}{"name": "{{ gen.data.name }}", "slug": "{{ gen.url | url }}"}{% if not loop.last %},{% endif %}{% endfor %}]}{% if not loop.last %},{% endif -%}
{%- endif -%}
{%- endfor -%}
]