input{
	width: 100%;
	margin: 0.25em 0;
}
#gen-menu{
	position: sticky;
	top: 1em;
	margin: 1em;
	margin-bottom: -4em;
}
.gen-container{
	display: block;
}
.gen-field:first-child:last-child{
	.gen-del{
		opacity: 0.5;
		cursor: not-allowed;
		&:active{
			pointer-events: none;
		}
	}
}
#gen-description{
	display: block !important;
	width: 100%;
	height: 10em;
	resize: vertical;
}
#gen-export, #gen-help{
	position: relative;
	display: inline-block;
	ul, menu{
		position: absolute;
		top: 100%;
		left: 0;
		margin: 0;
		opacity: 0;
		visibility: hidden;
		transition: visibility 0s, opacity 250ms;
	}
	&:hover ul, &:hover menu{
		opacity: 1;
		visibility: visible;
	}
}
#gen-export{
	menu{
		list-style: none;
		padding: 0;
	}
}
#gen-help{
	ul{
		background-color: hsl(var(--c0-hs), calc(var(--bg-l)));
		width: 40vw;
		height: 30em;
		overflow: auto;
		border: 0.0625em solid var(--border-color);
		border-radius: var(--border-radius);
		li{
			margin: 0.5em 0;
		}
	}
}
.gen-field{
	margin-top: 2em;
	&:first-child{
		margin-top: 0;
	}
}
#gen-result{
	border-collapse: collapse;
	border-radius: var(--border-radius);
	height: auto;
	width: 100%;
	&, td{
		border: 0.0625em solid var(--border-color);
	}
	td{
		padding: 1em;
		&:last-child{
			width: 100%;
		}
	}
}
.gen-tool{
	text-align: right;
}
.gen-toolbar, #gen-head cite{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.gen-tooltip{
	position: relative;
	display: inline-block;
	section{
		position: absolute;
		background-color: hsl(var(--c0-hs), calc(var(--bg-l) + 2%));
		border: var(--input-border);
		border-radius: var(--border-radius);
		opacity: 0;
		right: 0.25em;
		top: -999vmax;
		padding: 1em;
		width: max-content;
		transition: opacity 0.25s 0.25s, top 0s 0.5s;
		z-index: 1;
		p:first-child{
			margin-top: 0;
		}
		p:last-child{
			margin-bottom: 0;
		}
	}
	&:hover{
		section{
			top: 0.5em;
			opacity: 1;
			transition-delay: 0s;
		}
	}
}