:root{
	--c0-hs: 0, 0%;
	--bg-l: 13%;
	--txt-l: 90%;
	--input-border: 0.0625rem solid hsl(var(--c0-hs), calc(var(--bg-l) + 10%));
	--input-bg-color: hsl(var(--c0-hs), calc(var(--bg-l) - 5%));;
	--border-color: hsl(var(--c0-hs), calc(var(--bg-l) + 20%));
	--border: 0.0625rem solid var(--border-color);
	--border-radius: 0.25rem;
}

body{
	background-color: hsl(var(--c0-hs), var(--bg-l));
	color: hsl(var(--c0-hs), var(--txt-l));
	font-family: sans-serif;
	margin: 0;
	line-height: 1.5em;
}

a{
	color: currentColor;
}

input, textarea, select{
	background-color: var(--input-bg-color);
	border: var(--input-border);
	border-radius: var(--border-radius);
	outline: none;
	padding: 0.5em;
	color: currentColor;
	box-sizing: border-box;
	height: 2em;
	&:focus{
		border-color: var(--border-color);
	}
}

textarea{
	height: initial;
}

select{
	padding: 0 2em 0 0.5em;
}

button, .button{
	background-color: var(--border-color);
	color: currentColor;
	font-size: 1.25em;
	padding: 0.5rem;
	border: var(--input-border);
	border-radius: var(--border-radius);
}

button{
	cursor: pointer;
}

p:first-child{
	margin-top: 0;
}

.icon{
	width: 1em;
	height: 1em;
	fill: currentColor;
}

#head{
	margin: 1em;
	menu{
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
		font-size: 1.25em;
		gap: 0.5rem;
	}
	nav{
		margin: 1.5em 0;
	}
}

#logo{
	font-size: 3em;
	font-weight: bold;
	text-decoration: underline 0.125rem;
	 i{
		display: inline-block;
		position: relative;
		box-sizing: border-box;
		width: 1em;
		height: 1em;
		border: 0.125em solid;
		border-radius: 0.2em;
		&::before{
			content: "";
			display: block;
			box-sizing: border-box;
			background: currentColor;
			position: absolute;
			width: 0.2em;
			height: 0.2em;
			border-radius: 50%;
			left: 0.3em;
			top: 0.3em;
		}
	}
	&[data-num="2"]{
		i::before{
			left: 0.1em;
			top: 0.1em;
			box-shadow: 0.4em 0.4em 0;
		}
	}
	&[data-num="3"]{
		i::before{
			box-shadow: -0.2em -0.2em 0, 0.2em 0.2em 0;
		}
	}
	&[data-num="4"]{
		i::before{
			left: 0.1em;
			top: 0.1em;
			box-shadow: 0 0.4em 0, 0.4em 0 0, 0.4em 0.4em 0;
		}
	}
	&[data-num="5"]{
		i::before{
			box-shadow: -0.2em -0.2em 0, 0.2em 0.2em 0, 0.2em -0.2em 0, -0.2em 0.2em 0;
		}
	}
	&[data-num="6"]{
		i::before{
			left: 0.1em;
			top: 0.1em;
			box-shadow: 0 0.2em 0, 0 0.4em 0, 0.4em 0 0, 0.4em 0.2em 0, 0.4em 0.4em 0;
		}
	}
}

.gen-container{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1em;
	width: 50vw;
	min-width: 50em;
	max-width: 80em;
	margin: 2em auto;
	padding: 1em;
	border: var(--border);
	border-radius: var(--border-radius);
	box-sizing: border-box;
	h3:first-child{
		margin-top: 0;
	}
}

#gen-description, #gen-about{
	height: 30em;
	overflow: auto;
}

#gen-selection{
	display: flex;
	flex-flow: column;
	gap: 0.5em;
}

#gen-result{
	height: 15em;
	overflow: auto;
}

#gen-description:not(:empty) + #gen-about, #gen-description:empty{
	display: none;
}

#gen-menu{
	grid-column: 1/3;
}


#gen-save{
	ul{
		margin-top: 1em;
		&:before{
			content: attr(data-name);
			font-size: 1.5em;
			text-decoration: underline 0.0625rem var(--border-color);
		}
	}
}