{% macro icon(icon, class, id) %}
<svg class="icon{% if class %} {{ class }}{% endif %}" {% if id %}id="{{ id }}"{% endif %}>
	<use href="{{ '/img/icon.svg' | htmlBaseUrl }}#{{ icon }}"></use>
</svg>
{% endmacro %}