{% macro toolbar() %}
{% from "macros/icon.njk" import icon %}
<div class="gen-toolbar">
	<button class="gen-add" title="Add New Field">{{ icon('add-r') }}</button>
	{% if caller %}
	<aside class="gen-tooltip">
		<span>?</span>
		<section>
			{{ caller() }}
		</section>
	</aside>
	{% endif %}
</div>
{% endmacro %}