---
tags: Settings and Locations
name: Currency
---
{
"name": "{{ name }}",
	"description": "Construction and selection of currency names",
	"uuid": "fa38bb8a-7a00-4b6c-a087-a2e3e66e0ec0",
	"parts": {
		"n1": ["b", "br", "bl", "c", "cl", "cr", "d", "dr", "f", "fr", "fl", "g", "gr", "gl", "gn", "h", "j", "k", "kr", "kl", "kn", "m", "n", "p", "pr", "pl", "q", "qr", "ql", "r", "s", "st", "sr", "str", "sl", "t", "tr", "tl", "v", "vl", "vr", "w", "wr", "x", "z", "", "", "", "", ""],
		"n2": ["a", "e", "i", "o", "u", "y"],
		"n3": ["b", "c", "d", "f", "g", "h", "j", "k", "l", "m", "n", "p", "q", "r", "s", "t", "v", "w", "x", "z", "", "", "", "", "", ""],
		"n4": ["a", "e", "i", "o", "u", "", "", "", ""],
		"n5": ["boa", "c", "cha", "ching", "de", "der", "ding", "do", "doba", "fa", "geni", "ham", "k", "kel", "la", "lar", "le", "ling", "moni", "na", "nar", "nat", "ne", "nea", "ni", "nia", "ning", "pee", "pi", "pia", "pira", "ra", "ram", "rani", "ri", "rin", "rint", "ro", "runa", "sar", "si", "so", "taca", "tas", "tos", "ty", "ya", "za", "zal"],
		"e1": ["Alliance", "Allied", "Amber", "Ancestral", "Black", "Blood", "Bloodbound", "Blue", "Bronze", "Castle", "Celestial", "Chrono", "Coalition", "Commonwealth", "Confederate", "Constellation", "Copper", "Crescent", "Crimson", "Crown", "Crystal", "Diamond", "Division", "Dominion", "Dwarven", "Earth", "Earthian", "Electric", "Elemental", "Elvish", "Emerald", "Empress", "Emperor", "Empire", "Ethereal", "Federal", "Free World", "Freedom", "Galactic", "Ghost", "Glory", "Gnomish", "Gold", "Golden", "Gothic", "Honor", "Intergalactic", "Interstellar", "Jade", "King's", "Lunar", "Mystic", "New", "New Earth", "New Order", "Obsidian", "Orcish", "Phantom", "Phoenix", "Platinum", "Presidential", "Raven", "Republic", "Queen's", "Royal", "Sanguine", "Serpent", "Silver", "Solar", "Sovereign", "Space", "Spectral", "Supremacy", "Syndicate", "Tin", "Trade Federation", "Trader's", "Tribe", "Union", "Utopian", "Virtual", "White", "World League's", "World Union"],
		"e2": ["Air Coins", "Air Dollars", "Behavior Credits", "Belt Buckles", "Bits", "Black Gold", "Black Pennies", "Blings", "Blossoms", "Blue Orbs", "Bolts", "Bottle Caps", "Buckles", "Bullets", "Chips", "Chronocoins", "Chronocredits", "Chronodollars", "Chronos", "Chronus", "Claws", "Coins", "Constellation Coins", "Constellation Gold", "Constellatoin Credits", "Copper", "Credits", "Creds", "Crescents", "Crowns", "Crystals", "Cubes", "Cuts", "Diamonds", "Dominions", "Eagle Eyes", "Earth Coins", "Earthians", "Emeralds", "Empire Gold", "Eyes", "Feathers", "Federal Credits", "Federal Gold", "Free World Coins", "Free World Credits", "Freedom Credits", "Galactic Coins", "Galactic Credit", "Galactic Gold", "Gems", "Gold", "Gold Coins", "Gold Crowns", "Gold Pieces", "Golden Pennies", "Grains", "Influence Points", "Intergalactic Coins", "Intergalactic Gold", "Interstellar Credits", "Interstellar Gold", "Jewels", "Marks", "Nectar", "New Coins", "New Dollars", "New Earth Coins", "New Earth Credit", "New Earths", "New Order Credit", "Novas", "Orbs", "Pebbles", "Pennies", "Petals", "Platinum", "Quills", "Raven Claws", "Republic Dollars", "Rubies", "Seeds", "Shells", "Shinies", "Silver", "Silver Eyes", "Silver Pieces", "Solars", "Souls", "Space Bucks", "Space Dollars", "Space Gold", "Sparkles", "Talons", "Teeth", "Tokens", "Utopis", "White Gold", "White Orbs", "Widgets"],
		"e3": ["Alliance", "Allied", "Ancestral", "Astral", "Black", "Blood", "Bloodbound", "Blue", "Castle", "Celestial", "Chrono", "Coalition", "Commonwealth", "Confederate", "Constellation", "Crescent", "Crimson", "Crown", "Division", "Dominion", "Dragon", "Dwarven", "Earth", "Earthian", "Electric", "Elemental", "Elvish", "Emperor", "Empire", "Ethereal", "Federal", "Forest", "Free World", "Freedom", "Galactic", "Ghost", "Glory", "Gnomish", "Gothic", "Honor", "Intergalactic", "Interstellar", "King's", "Lion", "Lionheart", "Lunar", "Mountain", "Mystic", "New", "New Earth", "New Order", "Nova", "Obsidian", "Ocean", "Orcish", "Phantom", "Phoenix", "Presidential", "Raven", "Republic", "River", "Royal", "Sanguine", "Sea", "Seafarer", "Serpent", "Solar", "Sovereign", "Space", "Spectral", "Supremacy", "Syndicate", "Trade Federation", "Trader's", "Tribe", "Union", "Utopian", "Virtual", "Volcanic", "White", "World League's", "World Union"],
		"e4": ["Cash", "Chips", "Coins", "Coins", "Copper", "Copper", "Credits", "Credits", "Dime", "Dime", "Dollars", "Doubloons", "Gold", "Gold", "Pennies", "Pieces", "Silver", "Silver", "Tender", "Tokens"],
		"e5": ["Abazi", "Apsar", "Aureus", "Austral", "Balboa", "Birr", "Cedi", "Dalasi", "Daler", "Daric", "Denarius", "Dinar", "Dobra", "Dollar", "Drachma", "Dram", "Ducat", "Ekwele", "Elymais", "Escudo", "Euro", "Florin", "Follis", "Franc", "Gourde", "Guarani", "Guilder", "Hekte", "Hwan", "Inti", "Keping", "Kina", "Koruna", "Krone", "Kuna", "Kwacha", "Kwanza", "Kyat", "Lari", "Lempira", "Leone", "Leu", "Lev", "Lilangeni", "Lira", "Litas", "Loti", "Manat", "Mark", "Metica", "Mon", "Nakfa", "Pataca", "Peseta", "Peso", "Pound", "Prutah", "Pula", "Qirsh", "Quetzal", "Rand", "Real", "Rial", "Riel", "Ringgit", "Riyal", "Ruble", "Rufiyaa", "Rupee", "Rupiah", "Shekel", "Sheqel", "Shilling", "Sigloi", "Sol", "Solidus", "Som", "Somoni", "Stater", "Syli", "Tael", "Taka", "Talent", "Tenge", "Tolar", "Tremissis", "Trite", "Vatu", "Won", "Xu", "Yen", "Yuan", "Zaire", "Zuz"],
		"f1a": ["Ã‰lÃ©mentaire", "Ã‰lectrique", "Ã‰meraude", "Ã‰ternel", "Ã‰thÃ©rÃ©", "AlliÃ©", "AmbrÃ©", "Ancestral", "ArgentÃ©", "Blanc", "Bleu", "CÃ©leste", "ConfÃ©dÃ©rÃ©", "Cramoisi", "Cristalline", "Croissant", "DorÃ©", "Elfique", "FÃ©dÃ©ral", "Galactique", "Gothique", "Incarnat", "Intemporel", "Intergalactique", "Interstellaire", "Lunaire", "Mystique", "Nain", "Noir", "Obsidienne", "Occulte", "Orque", "Platine", "PrÃ©sidentiel", "Royal", "Sanguin", "Solaire", "Souverain", "Spatial", "Spectral", "Tribal", "Utopique", "Virtuel", "Volatil", "d'Ã‰tain", "d'Alliance", "d'Empereur", "d'Empire", "d'Honneur", "d'ImpÃ©ratrice", "d'Ombre", "d'Or", "d'Union", "d'Union Mondiale", "d'Utopie", "de Bronze", "de Cartel", "de ChÃ¢teau", "de Coalition", "de CommerÃ§ants", "de Commonwealth", "de Constellation", "de Corbeau", "de Couronne", "de Cuivre", "de Diamant", "de Division", "de Domination", "de FÃ©dÃ©ration Commerciale", "de FantÃ´me", "de Gloire", "de Gnome", "de Jade", "de LibertÃ©", "de Ligue Mondiale", "de Marchands", "de Monde Libre", "de Nain", "de Nouvel Ordre", "de Nouvelle Terre", "de PhÃ©nix", "de RÃ©publique", "de Reine", "de Roi", "de Sang", "de Serpent", "de Spectre", "de SuprÃ©matie", "de Syndicat", "de Terre", "de Tribu", "en Cristal"],
		"f1b": ["Ã‰lÃ©mentaires", "Ã‰lectriques", "Ã‰meraudes", "Ã‰ternels", "Ã‰thÃ©rÃ©s", "AlliÃ©s", "AmbrÃ©s", "Ancestraux", "ArgentÃ©s", "Blancs", "Bleus", "CÃ©lestes", "ConfÃ©dÃ©rÃ©s", "Cramoisis", "Cristallines", "Croissants", "DorÃ©s", "Elfiques", "FÃ©dÃ©raux", "Galactiques", "Gothiques", "Incarnats", "Intemporels", "Intergalactiques", "Interstellaires", "Lunaires", "Mystiques", "Nains", "Noirs", "Obsidiennes", "Occultes", "Orques", "Platines", "PrÃ©sidentiels", "Royaux", "Sanguins", "Solaires", "Souverains", "Spatiaux", "Spectraux", "Tribaux", "Utopiques", "Virtuels", "Volatils", "d'Ã‰tain", "d'Alliance", "d'Empereur", "d'Empire", "d'Honneur", "d'ImpÃ©ratrice", "d'Ombre", "d'Or", "d'Union", "d'Union Mondiale", "d'Utopie", "de Bronze", "de Cartel", "de ChÃ¢teau", "de Coalition", "de CommerÃ§ants", "de Commonwealth", "de Constellation", "de Corbeau", "de Couronne", "de Cuivre", "de Diamant", "de Division", "de Domination", "de FÃ©dÃ©ration Commerciale", "de FantÃ´me", "de Gloire", "de Gnome", "de Jade", "de LibertÃ©", "de Ligue Mondiale", "de Marchands", "de Monde Libre", "de Nain", "de Nouvel Ordre", "de Nouvelle Terre", "de PhÃ©nix", "de RÃ©publique", "de Reine", "de Roi", "de Sang", "de Serpent", "de Spectre", "de SuprÃ©matie", "de Syndicat", "de Terre", "de Tribu", "en Cristal"],
		"f1c": ["Ã‰lÃ©mentaires", "Ã‰lectriques", "Ã‰meraudes", "Ã‰ternelles", "Ã‰thÃ©rÃ©es", "AlliÃ©es", "AmbrÃ©es", "Ancestrales", "ArgentÃ©es", "Blanches", "Bleues", "CÃ©lestes", "ConfÃ©dÃ©rÃ©es", "Cramoisies", "Cristallines", "Croissantes", "DorÃ©es", "Elfiques", "FÃ©dÃ©rales", "Galactiques", "Gothiques", "Incarnates", "Intemporelles", "Intergalactiques", "Interstellaires", "Lunaires", "Mystiques", "Naines", "Noires", "Obsidiennes", "Occultes", "Orques", "Platines", "PrÃ©sidentielles", "Royales", "Sanguines", "Solaires", "Souveraines", "Spatiales", "Spectrals", "Tribales", "Utopiques", "Virtuelles", "Volatiles", "d'Ã‰tain", "d'Alliance", "d'Empereur", "d'Empire", "d'Honneur", "d'ImpÃ©ratrice", "d'Ombre", "d'Or", "d'Union", "d'Union Mondiale", "d'Utopie", "de Bronze", "de Cartel", "de ChÃ¢teau", "de Coalition", "de CommerÃ§ants", "de Commonwealth", "de Constellation", "de Corbeau", "de Couronne", "de Cuivre", "de Diamant", "de Division", "de Domination", "de FÃ©dÃ©ration Commerciale", "de FantÃ´me", "de Gloire", "de Gnome", "de Jade", "de LibertÃ©", "de Ligue Mondiale", "de Marchands", "de Monde Libre", "de Nain", "de Nouvel Ordre", "de Nouvelle Terre", "de PhÃ©nix", "de RÃ©publique", "de Reine", "de Roi", "de Sang", "de Serpent", "de Spectre", "de SuprÃ©matie", "de Syndicat", "de Terre", "de Tribu", "en Cristal"],
		"f2": ["Ã‚mes", "Ã‰clats", "Ã‰meraudes", "Argent", "Balles", "Bijoux", "Bits", "Bouchons", "Boucles de Ceinture", "Boulons", "Brillantes", "Brillants", "Brins", "Cailloux", "Capteurs", "Carapaces", "Carcasses", "Centimes", "Centimes Noirs", "Centimes d'Or", "Coques", "Coquilles", "Coupures", "Couronnes", "Couronnes d'Or", "CrÃ¢nes", "CrÃ©dits", "CrÃ©dits FÃ©dÃ©raux", "CrÃ©dits Galactiques", "CrÃ©dits Intergalactiques", "CrÃ©dits Interstellaires", "CrÃ©dits de Comportement", "CrÃ©dits de LibertÃ©", "CrÃ©dits de Monde Libre", "CrÃ©dits de Temps", "CrÃ©ditss de Nouvelle Terre", "Cristals", "Croix", "Cubes", "Cuivre", "Dents", "Diamants", "Dollar de RÃ©publique", "Dollars d'Air", "Dollars de l'Espace", "Fibres", "Fleurs", "Floraisons", "Fragments", "Galets", "Gemmes", "Germes", "Graines", "Grains", "Griffes", "Griffes de Corbeau", "Jetons", "Joyaux", "Molaires", "Morceaux", "Nectar", "Notes", "Nouveaux Dollars", "Nouvelles PiÃ¨ces", "Nouvelles Terres", "Novas", "Or", "Or Blanc", "Or FÃ©dÃ©ral", "Or Galactique", "Or Noir", "Or Spatial", "Or d'Empire", "Or de Temps", "Orbes", "Orbes Blancs", "Orbes Bleus", "PÃ©pins", "PÃ©tales", "Pennes", "Perles", "PiÃ¨ces Galactiques", "PiÃ¨ces Intergalactiques", "PiÃ¨ces Interstellaires", "PiÃ¨ces d'Air", "PiÃ¨ces d'Argent", "PiÃ¨ces d'Or", "PiÃ¨ces de Monde Libre", "PiÃ¨ces de Nouvelle Terre", "PiÃ¨ces de Temps", "PiÃ¨ces de Terre", "Platine", "Plumes", "Points", "Points d'Influence", "Puces", "Rubis", "Signes", "Solaires", "SphÃ¨res", "Talons", "Terrans", "Trucs", "Veines", "Verres", "Yeux", "Yeux d'Aigle", "Yeux d'Argent", "Yeux d'Or", "Yeux de Lynx"],
		"f3": ["EspÃ¨ces", "Jetons", "CrÃ©dits", "Dollars", "Doublons", "Cents", "Centimes", "Cuivre", "Or", "Argent", "Pences", "DÃ®mes", "PiÃ¨ces"],
		"f4": ["Ariary", "Baht", "Balboa", "Birr", "CÃ³rdoba", "Cedi", "Couronne", "Dalasi", "Dinar", "Dirham", "Dobra", "Dollar", "Dong", "Drachme", "Dram", "Escudo", "Euro", "Florin", "Forint", "Franc", "Gourde", "Guarani", "Hryvnia", "Kina", "Kip", "Kuna", "Kwacha", "Kwanza", "Kyat", "Lari", "Lats", "Lek", "Lempira", "Leone", "Leu", "Lev", "Lilangeni", "Lire", "Litas", "Livre", "Loti", "Manat", "Mark", "Metical", "Naira", "Nakfa", "Ngultrum", "Nuevo", "Ouguiya", "Pataca", "Peseta", "Peso", "Pula", "Quetzal", "Rand", "Reichsmark", "Rial", "Riel", "Ringgit", "Riyal", "Rouble", "Roupie", "Rufiyaa", "Rupiah", "Shekel", "Shilling", "Som", "Somoni", "Sum", "Taka", "Tala", "Tenge", "Tolar", "Tugrik", "Vatu", "Won", "Yen", "Yuan", "Zloty"]
	},
	"output": {
		"rules": {
			"nu1": "{n1}{n2}{n3}{n4}{n5}",
			"en1": "{e1} {n1}{n2}{n3}{n4}{n5}",
			"en2": "{e2}",
			"en3": "{e3} {e4}",
			"en4": "{e3} {e5}",
			"fr1": "{n1}{n2}{n3}{n4}{n5} {f1a}",
			"fr2": "{f2}",
			"fr3a": "{f3} {f1a}",
			"fr3b": "{f3} {f1b}",
			"fr3c": "{f3} {f1c}",
			"fr4": "{f4} {f1a}"
		},
		"select": [
			{
				"name": "English",
				"rule": ["nu1", "en1", "en2", "en3", "en4"]
			},
			{
				"name": "French",
				"rule": ["nu1", "fr1", "fr2", "fr3a,fr3b,fr3c:5,4,4", "fr4"]
			}
		]
	}
}