---
tags: Skills, Abilities and Traits
name: Dark Rituals
---
{
"name": "{{ name }}",
	"description": "Evil sounding rituals for villains, evil gods or creatures of the night",
	"uuid": "2e6126cb-87af-4762-af11-91a5517add9c",
	"parts": {
		"n0": ["Harmony", "Harmonious", "Melodiac", "Discordant", "Destiny's", "Ancestrial", "Ancient", "Harvest", "Portrait", "Altered", "Landscape", "Astral", "Cosmic", "Dissonant", "Decadent", "Deep", "Prime", "Rebel", "Blue", "Scarlet", "Sprit", "Sealed", "Grand", "Song", "Grave", "Stained", "Marked", "Scarred", "Crimson", "Serene", "Possessed", "Forgotten", "Purged", "Total", "Black", "Red", "Grey", "Blood", "Ebony", "Dark", "Curse", "Cursed", "Chaos", "Revenge", "Chaotic", "Fiery", "Sorrowed", "Flame", "Holy", "Mirage", "Royal", "Unholy", "Corpse", "Veiled", "Pale", "Ice", "Frost", "Infernal", "Lunar", "Arcane", "Scorched", "Ravenous", "Rapacious", "Gluttonous", "Mystic", "Hexed", "Blind", "Jinxed", "Void", "Petrified", "Dim", "Bright", "Shadow", "Silent", "Burning", "Secret"],
		"n1": ["Concert", "Corruption", "Portrait", "Horn", "Land", "Order", "Oath", "Encore", "Dedication", "Revival", "Ballad", "Landscape", "Harvest", "Ancient", "Decadence", "Beast", "Mark", "Sorrow", "Decent", "Ancients", "Illusion", "Lord", "God", "Gods", "Touch", "Destiny", "Surge", "Signature", "Gift", "Serenity", "Imprint", "Penance", "Nightmare", "Panic", "Virtue", "Night", "Prey", "Core", "Chronicle", "Eclipse", "Stroke", "Trace", "Token", "Spell", "Pact", "King", "Stain", "Seal", "Mirror", "Mirage", "Scar", "Crypt", "Reflection", "Possession", "Image", "Sphere", "Remorse", "Rain", "Control", "Burn", "Charge", "Reign", "Stage", "Rage", "Purge", "Arena", "Seed", "Grimoire", "Book", "Tome", "Codex", "Code", "Opus", "Child", "Aura", "Jinx", "Assault", "Absolution", "Revenge", "Lamb", "Tears", "Soul", "Genesis", "Haunt", "Children", "Darkness", "Shroud", "Torrent", "Rapture", "Rhythm", "Call", "Lament", "Gluttony", "Greed", "Cycle", "Harmony", "Ward", "Veil", "Dissonance", "Scorch", "Cult", "Chaos", "Circle", "Dawn", "Sprit", "Age", "Sound", "Instrument", "Curse", "Song", "Pain", "Vision", "Chorus", "Choir", "Melody", "Hymn", "Commandment", "Conjuring", "Dance", "Picture", "Words", "Fire", "Burning", "Sacrifice", "Enchantment", "Ritual", "Symphony", "Ceremony", "Sacrament", "Incantation", "Incarnation", "Communion", "Transfiguration", "Secret", "Wrath", "Abjuration", "Summoning", "Envocation", "Rite"],
		"n2": ["Shadow", "Cenotaph", "Oblivion", "Horn", "Forgotten", "Siphon", "Ancestor", "Ancestors", "Deep", "Corrupt", "Depths", "Fire", "Beast", "Ancient", "Mark", "Ancients", "Decadent", "Sorrowed", "Fires", "Flame", "Flames", "Oracle", "Mirror", "Seal", "Surge", "Arcane", "Altered", "Reflected", "Moon", "Serene", "Nether", "Innocent", "Damned", "Purged", "Possessed", "Eclipse", "Past", "Blood", "Unknown", "Unseen", "Night", "Dark", "Veiled", "Silent", "Abyss", "Unholy", "Soul", "Sprit", "Crypt", "Age", "Ward", "Inferno", "Mage"],
		"n3": ["Dispair", "Destiny", "Shadows", "Darkness", "Devestation", "Dedication", "Sorrow", "Ancestors", "Oblivion", "Corruption", "Time", "Chaos", "Beasts", "Fire", "Decadence", "Storms", "Day", "Innocence", "Virtue", "Damnation", "Decay", "Visions", "Tears", "Blades", "End", "Agony", "Serenity", "Possession", "Doom", "Omens", "Blood", "Limbo", "Misery", "Pain", "Sacrifice", "Wrath", "Suffuring", "Ages", "Control", "Sin", "Silence", "Inferno", "Absolution", "Mage's", "Rage", "Abyss"]
	},
	"output": {
		"rules": {
			"r1": "{n0}%0.5 {n1} of the {n0}%0.5 {n2}",
			"r2": "{n0}%0.5 {n1} of {n0}%0.5 {n3}",
			"r3": "{n0}%0.1 Ode to the {n0}%0.5 {n2}",
			"r4": "{n0}%0.1 Ode to {n0}%0.5 {n3}",
			"r5": "{n0} {n1}",
			"r6": "Made in {n0}%0.5 {n3}"
		},
		"select": [
			{
				"name": "Ritual",
				"rule": ["r1:r2:r3:r4:r5:r6"]
			}
		]
	}
}