---
layout: main
scripts:
  -
   src: https://cdn.jsdelivr.net/npm/form-data-json-convert@2.1.4/dist/form-data-json.min.js
  - 
   src: /js/genroll.js
  -
   src: /js/genmake.js
styles:
  -
   src: /css/genmake.css
---
{% from "macros/icon.njk" import icon %}
{% from "macros/toolbar.njk" import toolbar %}
{% macro gentool(copy=true) %}
<div class="gen-tool">
	{% if(copy) %}
	<button class="gen-copy" title="Copy to Clipboard">{{ icon('clipboard') }}</button>
	{% endif %}
	<button class="gen-del" title="Remove">{{ icon('remove-r') }}</button>
</div>
{% endmacro %}
<nav id="gen-menu">
	<button id="gen-new" title="New">{{ icon('file') }}</button>
	<button id="gen-load" title="Load">{{ icon('software-upload') }}</button>
	<button id="gen-save" title="Save">{{ icon('software-download') }}</button>
	<div id="gen-export">
		<div class="button" title="Export to...">{{- icon('code-slash') -}}</div>
		<menu>
			<li><button id="gen-export-json">JSON</button></li>
			<li><button id="gen-export-11ty">11ty</button></li>
		</menu>
	</div>
	<div id="gen-help">
		<div class="button">?</div>
		<ul>
			<li>
				<p>Title your generator and write a description in <a href="https://commonmark.org/help/" target="_blank">Markdown</a></p>
			</li>
			<li>
				<p>Define part groups to be selected, (Vowels, Sylables, Punctuations, Accents, Words, Prases, etc.)</p>
			</li>
			<li>
				<p>UUID is defined when new generator is created</p>
			</li>
			<li>
				<p>Define rules for part groups to randomly select, along with possible word/phrase constants (e.g. {a1}{a2}, {a3} in the {a4}).</p>
			</li>
			<li>
				<p>Define selector sets for the generator. Enter a name that will be displayed and add the Rule Number.</p>
				<p>The generator will spread the rule selections as even as possible (i.e. When the generator creates 10 entires, two rules will result in 5 of the first and 5 of the other).</p>
			</li>
			<li>
				<p>Percent notated rule/selector entries denotes a probability of generation (e.g. {b1}%0.5 = %50 probability)</p>
				<p>Colon [:] notated rule/selector entries with optional ratio numbers (notated by a Forward Slash [/]) will randomly select for that entry. (e.g. {p1:p2/2:7} = two parts with a ratio of 2, 7 | rule1:rule2:rule3/4:5:1 = three rules at ratio of 4, 5, 1)</p>
			</li>
		</ul>
	</div>
</nav>
<div class="gen-container">
	<form id="gen-form">
		<h1>Create Generator</h1>
		<div id="gen-head">
			<input type="text" id="gen-name" name="name" placeholder="Enter Name">
			<textarea id="gen-description" name="description" placeholder="Enter Description"></textarea>
			<input readonly id="gen-uuid" name="uuid" value="00000000-0000-4000-a000-000000000000">
		</div>
		<h2>Parts</h2>
		{{ toolbar() }}
		<fieldset id="gen-parts" class="gen-set gen-hexed"></fieldset>
		<h2>Rules</h2>
		{{ toolbar() }}
		<fieldset id="gen-rules" class="gen-set gen-hexed"></fieldset>
		<h2>Output Selection</h2>
		{{ toolbar() }}
		<fieldset id="gen-select" class="gen-set"></fieldset>
	</form>
</div>
<div class="gen-container">
	<form id="gen-test">
		<h1>Test Generator</h1>
		<button>Generate!</button>
		<table id="gen-result"></table>
	</form>
</div>
<template id="gen-template-test">
	<tr>
		<td class="rule"></td>
		<td class="text"></td>
	</tr>
</template>
<template id="gen-template-parts">
	<div class="gen-field">
		{{ gentool() }}
		<input class="gen-id" value="0001" placeholder="Enter ID">
		<input type="text" class="gen-parts gen-hex gen-choice" name="parts[0001]" placeholder="Enter Parts">
	</div>
</template>
<template id="gen-template-rules">
	<div class="gen-field">
		{{ gentool() }}
		<input class="gen-id" value="0001" placeholder="Enter ID">
		<input type="text" class="gen-rule gen-hex gen-choice" name="output[rules][0001]" placeholder="Enter Rules">
	</div>
</template>
<template id="gen-template-select">
	<div class="gen-field">
		{{ gentool(false) }}
		<input type="text" class="gen-select-name" name="output[select][][name]" placeholder="Enter Name">
		<input type="text" class="gen-select-rule" name="output[select][][rule]" placeholder="Enter Rules">
	</div>
</template>