---
layout: main
scripts:
  - 
   src: /js/genroll.js
  -
   src: /js/main.js
---
<div class="gen-container">
	<div id="gen-description"></div>
	<div id="gen-about">
		<p>Generator and Generator creator using Javascript and JSON.</p>
		<p>Generators included are made from various generators online, media, fantasies, real world, and other places of inspiration</p>
		<hr>
		<p>Source can be found on <a href="https://gitlab.com/LionUCS/genroll">Gitlab</a></p>
		<p>Icons from <a href="https://css.gg" target="_blank">css.gg</a></p>
		<p>Markdown Parser <a href="https://markdown-it.github.io">markdown-it</a></p>
		<p>FormData <-> JSON Converter <a href="https://brainfoolong.github.io/form-data-json/">FormDataJson</a></p>
		<p>Static Site Generator <a href="https://www.11ty.dev">11ty</a></p>
		<p>Some generators inspired and adapted from <a href="https://www.fantasynamegenerators.com">Fantasy Name Generators</a> and <a href="https://www.seventhsanctum.com">Seventh Sanctum</a></p>
	</div>
	<form id="gen-form">
		<div id="gen-selection">
			<select id="gen-select">
				<option value="" disabled selected>Choose Generator</option>
			</select>
			<input id="gen-url" type="text" placeholder="...or Load GenRoll JSON from URL"/>
			<select id="gen-type" name="select" disabled>
				<option>Type</option>
			</select>
			<input type="number" name="count" title="Amount to Generate" value="10" min="1" max="1000" />
			<button>Generate!</button>
		</div>
		<div>
			<h3>Generated List</h3>
			<ul id="gen-result"></ul>
		</div>
	</form>
</div>
{% from "macros/icon.njk" import icon %}
<div class="gen-container">
	<div id="gen-menu">
		<button id="gen-remove" title="Remove All">{{ icon('play-list-remove') }}</button>
		<button id="gen-clear" title="Clear Removed">{{ icon('trash') }}</button>
		<button id="gen-restore" title="Restore Deleted">{{ icon('play-list-add') }}</button>
		<button id="gen-export" title="Export to File">{{ icon('code-slash') }}</button>
	</div>
	<div id="gen-save-container">
		<h3>Saved</h3>
		<div id="gen-save"></div>
	</div>
	<div id="gen-delete-container">
		<h3>Deleted</h3>
		<ul id="gen-delete"></ul>
	</div>
</div>