---
tags: Characters
name: Anzû
---
{
"name": "{{ name }}",
	"description": "This generator will give you random names for Anzu and Anzu-like creatures.\n\nAnzû are beings from Mesopotamian religions, sometimes represented as a lesser deity and sometimes as a monster. They're likewise represented as either a gigantic, fire- and water-breathing bird or as a lion-headed eagle not too dissimilar from griffins. They're generally tied to rain, with the roar of a lion representing thunder and a large, dark storm-cloud in the shape of an eagle forming their body. But in Anzû depictions have changed over time as myths are prone to do.\n\nAs far as names go, I've used Mesopotamian names for this name generator. They won't be true names, but altered ones to create a familiar, but different feel overall to mimic the otherworldly nature of such a mythical being. Either way, there's plenty to pick from.",
	"uuid": "cec83d88-51b1-4d72-ab5d-1749096e96c1",
	"parts": {
		"m1": ["A", "Abi", "Abu", "Adra", "Alo", "Ama", "Awi", "Ba", "Baa", "Belte", "Da", "Eta", "Ga", "Gi", "Gishi", "Gu", "Ha", "Hammu", "Hu", "I", "Igi", "Ka", "Ki", "Kira", "Ma", "Maru", "Mau", "Mu", "Nu", "Sa", "Shea", "Ta", "U", "Ur", "Ura", "Urba", "Urha", "Utu", "Zi", "Zu", "Zua"],
		"m2": ["barra", "bi", "bil", "das", "di", "duk", "ga", "gan", "gi", "gigi", "gunu", "hamma", "hamsi", "hasis", "hazzar", "himmar", "lam", "li", "lu", "lum", "ma", "mah", "mar", "mus", "muz", "na", "nu", "qar", "ra", "rabi", "rash", "rashi", "rin", "ros", "ruduk", "shen", "shi", "si", "sis", "sun", "ta", "tana", "tar", "ten", "tur", "va", "wil", "zar", "zi"],
		"f1": ["A", "Alla", "Ama", "Ana", "Anu", "Aru", "Bau", "Be", "Bela", "Da", "Gi", "Gishi", "Hu", "Ina", "Ish", "Ka", "Kalu", "Kalum", "Ki", "Kira", "Li", "Mau", "Mmu", "Mo", "Mu", "My", "Ni", "Nin", "Ninhu", "Nu", "Oma", "Ri", "Sa", "Sabi", "She", "Shea", "Tau", "Tia", "U", "Ur", "Ura", "Urba", "Za", "Zi", "Zirra", "Zua"],
		"f2": ["banit", "barra", "bi", "bitum", "cina", "ga", "gal", "har", "himmar", "hursag", "lam", "latu", "li", "litta", "lum", "lumtum", "ma", "mah", "mar", "mat", "mus", "na", "nat", "natu", "nit", "nunit", "ra", "rash", "rashi", "rin", "ros", "rosa", "sa", "sag", "shen", "shi", "sun", "sunat", "ta", "tar", "ten", "tu", "tum", "tur"],
		"n1": ["A", "Ama", "Ba", "Be", "Da", "Gi", "Gishi", "Hu", "I", "Ka", "Ki", "Kira", "Ma", "Mu", "Mau", "Nu", "Sa", "Shea", "Ta", "U", "Ura", "Urba", "Ur", "Zi", "Zua", "Zu"],
		"n2": ["barra", "bi", "ga", "himmar", "li", "lam", "lum", "ma", "mah", "mar", "mus", "na", "ra", "rash", "rashi", "rin", "ros", "shen", "shi", "sun", "ta", "ten", "tur"]
	},
	"output": {
		"rules": {
			"male": "{m1}{m2}",
			"female": "{f1}{f2}",
			"neutral": "{n1}{n2}"
		},
		"select": [
			{
				"name": "Male",
				"rule": ["male"]
			},
			{
				"name": "Female",
				"rule": ["female"]
			},
			{
				"name": "Neutral",
				"rule": ["neutral"]
			}
		]
	}
}