---
tags: Characters
name: Avatar Names
---
{
"name": "{{ name }}",
	"description": "Names like characters in avatar, inspired by real world Asian countries and territories",
	"uuid": "5f3ffba3-43b5-4320-828e-a6521c3b4e66",
	"parts": {
		"am1": ["g", "h", "l", "m", "n", "gy", "p", "r", "s", "t"],
		"am2": ["h", "l", "ll", "m", "n", "ng", "nz", "r", "s", "sh", "ts"],
		"am3": ["hn", "l", "ng", "n"],
		"an1": ["aa", "io", "ue", "ee", "a", "e", "i", "o", "a", "e", "i", "o", "u", "a", "e", "i", "o", "a", "e", "i", "o", "u"],
		"af1": ["h", "l", "n", "m", "p", "r", "s", "y"],
		"af2": ["h", "l", "m", "ng", "n", "sh", "r", "rr"],
		"af3": ["hn", "h", "n"],
		"as1": ["Bhakto", "Bhuchung", "Bhuti", "Chodag", "Chodak", "Choden", "Chodrak", "Choedon", "Choegyal", "Choejor", "Choenyi", "Choephel", "Choezom", "Chokey", "Chokphel", "Chokzay", "Chonden", "Chophel", "Dakpa", "Damchoe", "Dawa", "Dema", "Dhadul", "Dhakpa", "Dhardon", "Dhargay ", "Dhargey", "Dhargye", "Dharma", "Dhundup", "Dolkar", "Dolker", "Dolma", "Dorje", "Dorjee", "Duga", "Gelek", "Gephel", "Gonpo", "Gurmey", "Gyalchok", "Gyaltsen", "Gyamtso", "Gyatso", "Gyurmey", "Jamma", "Jampa", "Jamtso", "Jamyang", "Jangchup", "Jinpa", "Jorden", "Jungney", "Kalsang", "Karma", "Kechok", "Kelden", "Kelsang", "Kesang", "Khando", "Khandro", "Khedrup", "Khetsun", "Konchok", "Kunchen", "Kundang", "Kunga", "Legshey", "Lhakpa", "Lhamo", "Lhawang", "Lhundrup", "Lhundup", "Lobsang", "Metok", "Monlam", "Namdak", "Namdol", "Namgyal", "Namgyal Wangchuk", "Ngawang", "Ngodup", "Ngonga", "Norbu", "Norzin", "Nyandak", "Nyima", "Padma", "Palden", "Paldon", "Paljor", "Palkyi", "Palmo", "Passang", "Pema", "Pemba", "Penpa", "Phuntsok", "Rabgyal", "Rabten", "Rabyang", "Rangdol", "Rapten", "Richen", "Rigsang", "Rigzin", "Rinchen", "Samdup", "Samten", "Sangey", "Sangmo", "Sangyal", "Sangye", "Sherab", "Sherap", "Sonam", "Tamdin", "Tashi", "Tempa", "Tenzin", "Thekchen", "Thokmay", "Thubten", "Tinley", "Topden", "Tsamchoe", "Tselha", "Tsering", "Tseten", "Tsewang", "Tsomo", "Tsultrim", "Tsundue", "Ugyen", "Wangchen", "Wangchuk", "Wangdak", "Wangdue", "Wangdup", "Wangmo", "Wangyal", "Woenang", "Woeser", "Woeten", "Yama", "Yangdon", "Yangkey", "Yangtso", "Yangzom", "Yeshi", "Yonten", "Youdon", "Youdron", "Yudron", "Yungdrung", "Zopa"],
		"em1": ["ch", "b", "f", "g", "h", "l", "m", "p", "r", "b", "f", "g", "h", "l", "m", "p", "r", "sh", "x"],
		"em2": ["ao", "uo", "aa", "a", "e", "o", "a", "e", "i", "o", "u", "a", "e", "i", "o", "u", "a", "e", "i", "o", "u", "a", "e", "i", "o", "u"],
		"em3": ["h", "l", "m", "n", "h", "l", "m", "n", "h", "l", "m", "n", "h", "l", "m", "n", "sh", "t"],
		"em4": ["h", "ng", "n", "ng", "n", "r"],
		"ef1": ["b", "f", "g", "gy", "h", "k", "ky", "l", "n", "m", "s", "sh", "t", "w"],
		"ef2": ["k", "l", "m", "n", "r", "sh", "v", "y"],
		"ef3": ["ph", "h", "h", "ng", "n", "n"],
		"ef4": ["a", "e", "i", "o", "a", "o"],
		"fm1": ["ch", "d", "j", "m", "n", "r", "s", "sh", "t", "y", "z"],
		"fm2": ["ao", "ai", "ee", "a", "a", "e", "i", "o", "o", "u", "u"],
		"fm3": ["j", "k", "m", "r", "s", "z", "k", "m", "r", "s", "z"],
		"fm4": ["l", "n", "r", "s"],
		"fm5": ["h", "k", "m", "n"],
		"fn1": ["a", "a", "e", "i", "o", "o", "u", "u"],
		"ff1": ["ch", "h", "l", "m", "n", "s", "sh", "t", "y", "z"],
		"ff2": ["k", "l", "m", "n", "ng", "r", "rs", "s", "y", "z"],
		"ff3": ["n", "h"],
		"ff4": ["ei", "ai", "ee", "a", "a", "e", "i", "o", "o", "u", "u", "y", "y"],
		"ff5": ["k", "l", "m", "n", "r", "s", "y", "z"],
		"wm1": ["b", "d", "h", "k", "m", "n", "p", "r", "s", "t", "v", "z"],
		"wm2": ["oa", "a", "i", "o", "e", "a", "o", "u", "a", "i", "o", "e", "a", "o", "u"],
		"wm3": ["d", "k", "l", "n", "r", "t", "d", "k", "kk", "l", "lr", "n", "nr", "r", "rl", "rn", "rm", "rr", "sr", "t", "vr"],
		"wm4": ["d", "l", "n", "y"],
		"wm5": ["k", "k", "r", "m", "n", "q", "q", "s"],
		"wn1": ["a", "i", "o", "e", "a", "o", "u"],
		"wf1": ["h", "k", "k", "k", "ky", "l", "m", "n", "r", "s", "t", "v", "y", "z"],
		"wf2": ["h", "k", "l", "ll", "m", "n", "nn", "r", "rr", "s", "t", "y"],
		"wf3": ["d", "n", "r", "y"],
		"wf4": ["ue", "ia", "a", "i", "o", "e", "a", "o", "u", "a", "i", "o", "e", "a", "o", "u"],
		"wf5": ["n", "k", "h"]
	},
	"output": {
		"rules": {
			"amale1": "{am1}{an1}{am3}%0.8",
			"amale2": "{am1}%0.9{an1}{am2}{an1}{am3}%0.8",
			"afem1": "{af1}{an1}{af3}%0.4",
			"afem2": "{af1}%0.88{an1}{af1}{an1}{af3}%0.4",
			"asp": "{as1}",
			"emale1": "{em1}{em2}{em4}",
			"emale2": "{em1}{em2}{em3}{em2}{em4}%0.5",
			"efem1": "{ef1}%0.875{ef4}{ef3}%0.375",
			"efem2": "{ef1}%0.875{ef4}{ef2}{ef4}{ef3}%0.375",
			"fmale1": "{fm1}%0.85{fm2}{fm5}%0.4",
			"fmale2": "{fm2}{fm3}{fn1}{fm4}{fm2}{fm5}$0.4",
			"fmale3": "{fm1}%0.85{fm2}{fm3}{fm2}{fm5}%0.4",
			"ffem1": "{ff1}%0.83{ff4}{ff3}%0.4",
			"ffem2": "{ff4}{ff5}{fn1}{ff5}{fn1}",
			"ffem3": "{ff1}{ff4}{ff2}{fn1}{ff3}%0.4",
			"wmale1": "{wm1}{wm2}{wm5}%0.6",
			"wmale2": "{wm1}{wm2}{wm3}{wn1}{wm4}{wn1}{wm5}%0.6",
			"wmale3": "{wm1}{wm2}{wm3}{wn1}{wm5}%0.6",
			"wfem1": "{wf1}%0.875{wf4}{wf5}%0.43",
			"wfem2": "{wf1}%0.875{wf4}{wf2}{wn1}{wf3}{wn1}",
			"wfem3": "{wf1}%0.875{wf4}{wf2}{wn1}{wf5}%0.43"
		},
		"select": [
			{
				"name": "Air - Male",
				"rule": ["asp", "amale1:amale2/1:4"]
			},
			{
				"name": "Air - Female",
				"rule": ["asp", "afem1:afem2/1:4"]
			},
			{
				"name": "Earth - Male",
				"rule": ["emale1:emale2/5:2"]
			},
			{
				"name": "Earth - Female",
				"rule": ["efem1:efem2/5:2"]
			},
			{
				"name": "Fire - Male",
				"rule": ["fmale1:fmale2:fmale3/1:1:5"]
			},
			{
				"name": "Fire - Female",
				"rule": ["ffem1:ffem2:ffem3/2:2:3"]
			},
			{
				"name": "Water - Male",
				"rule": ["wmale1:wmale2:wmale3/1:1:5"]
			},
			{
				"name": "Water - Female",
				"rule": ["wfem1:wfem2:wfem3/1:2:4"]
			}
		]
	}
}