---
tags: Characters
name: Cosmic Horror Names
---
{
"name": "{{ name }}",
	"description": "Names in the style of cosmic horror stories such as those written by H.P. Lovecraft.",
	"uuid": "69ba0fe0-30bc-4e93-8614-b2dffac6be8f",
	"parts": {
		"n1": ["a", "e", "i", "u", "o", "a", "ai", "aiu", "aiue", "e", "i", "ia", "iau", "iu", "o", "u", "y", "ya", "yi", "yo"],
		"n2": ["bh", "br", "c'th", "cn", "ct", "cth", "cx", "d", "d'", "g", "gh", "ghr", "gr", "h", "k", "kh", "kth", "mh", "mh'", "ml", "n", "ng", "sh", "t", "th", "tr", "v", "v'", "vh", "vh'", "vr", "x", "z", "z'", "zh"],
		"n3": ["a", "e", "i", "u", "o", "a", "e", "i", "u", "o", "ao", "aio", "ui", "aa", "io", "ou", "y"],
		"n4": ["bb", "bh", "br", "cn", "ct", "dh", "dhr", "dr", "drr", "g", "gd", "gg", "ggd", "gh", "gn", "gnn", "gr", "jh", "kl", "l", "ld", "lk", "ll", "lp", "lth", "mbr", "nd", "p", "r", "rr", "rv", "th", "thl", "thr", "thrh", "tl", "vh", "x", "xh", "z", "zh", "zt"],
		"n5": ["'dhr", "'dr", "'end", "'gn", "'ith", "'itr", "'k", "'kr", "'l", "'m", "'r", "'th", "'vh", "'x", "'zh"],
		"n6": ["a", "e", "i", "u", "o"],
		"n7": ["d", "g", "h", "l", "lb", "lbh", "n", "r", "rc", "rh", "s", "sh", "ss", "st", "sz", "th", "tl", "x", "xr", "xz"]
	},
	"output": {
		"rules": {
			"t1": "{n2}{n3}{n4}{n5}%0.3{n6}{n7}%0.66",
			"t2": "{n1}{n2}{n3}{n4}{n5}%0.3{n6}{n7}%0.66"
		},
		"select": [
			{
				"name": "Names",
				"rule": ["t1", "t2"]
			}
		]
	}
}