---
tags: Characters
name: Ifrit
---
{
"name": "{{ name }}",
	"description": "This generator will give you random names for ifrit and similar beings.\n\nIfrit are supernatural beings of fire and evil, at least in most modern depictions.They originate from Islamic folklore, in which they 're the strongest type of Jinn. But the original ifrit could be both good and evil, like humans, but were still often depicted as demonic creatures, which carried over to the modern depictions.\n\nIn this generator you'll find two types of names. The first are randomized names loosely based on Muslim name features. Sometimes you might get an actual Muslim or Arabic name, but the vast majority are altered, randomized versions.\n\nThe second type of names are the more descriptive ones. Names like Flamecrown, Cindershift, and Grimcrest, for example.They could work as titles, surnames, or just regular first names.",
	"uuid": "0219bbf5-57bb-4167-816d-84af4d7b2800",
	"parts": {
		"a1": ["f", "g", "gh", "h", "j", "k", "kh", "l", "m", "n", "ph", "r", "s", "sh", "t", "th", "w", "y", "z"],
		"a2": ["a", "e", "i", "o", "u", "a", "a", "i", "a", "e", "i", "o", "u", "a", "a", "i", "a", "e", "i", "o", "u", "a", "a", "i", "aa", "ee", "ai", "ia"],
		"a3": ["b", "d", "dh", "dr", "f", "ff", "l", "ll", "m", "mn", "r", "s", "sh", "ss", "t", "th", "w", "y", "z"],
		"a4": ["d", "f", "ff", "l", "ll", "m", "n", "r", "s", "ss", "t", "w", "y", "z"],
		"a5": ["h", "l", "n"],
		"b1": ["abyss", "anger", "arch", "ardor", "arid", "ash", "beam", "bitter", "blaze", "bleak", "boil", "broken", "burn", "burst", "chaos", "cinder", "coal", "crimson", "crisp", "cruel", "dark", "dead", "death", "demon", "devil", "doom", "dust", "ember", "fervor", "fiery", "fire", "flak", "flame", "flare", "fuel", "fume", "gas", "ghost", "gloom", "gold", "grand", "grim", "half", "hate", "haze", "heat", "hell", "hollow", "hot", "idle", "infernal", "inferno", "keen", "last", "light", "livid", "mad", "nether", "pain", "pit", "power", "prime", "pyre", "quick", "rabid", "red", "rue", "ruin", "shift", "smoke", "soot", "sore", "sorrow", "spark", "spell", "steam", "storm", "sun", "tomb", "twist", "war", "warm", "white", "wicked", "wild", "wretched"],
		"b2": ["bane", "beam", "beast", "bellow", "blade", "blaze", "blight", "blood", "born", "bound", "brand", "bringer", "chest", "child", "cloak", "crest", "crown", "drifter", "edge", "eye", "eyes", "fang", "flayer", "forge", "forged", "fury", "gaze", "gift", "grip", "heart", "heat", "hell", "hide", "host", "light", "mane", "march", "mask", "might", "mind", "more", "mourn", "pest", "power", "rage", "reaper", "reaver", "rush", "shape", "shift", "shine", "side", "skin", "spark", "spell", "spine", "spite", "star", "steam", "stew", "storm", "strike", "striker", "surge", "sworn", "twist", "veil", "watch", "will"]
	},
	"output": {
		"rules": {
			"a1": "{a1}%0.7{a2}{a3}{a2}{a5}%0.3",
			"a2": "{a1}%0.7{a2}{a3}{a2}{a4}{a2}{a5}%0.3",
			"a3": "{a1}%0.7{a2}{a3}{a4}{a2}{a2}{a5}%0.3",
			"b": "{b1}{b2}"
		},
		"select": [
			{
				"name": "Ifrit",
				"rule": ["a1:a2:a3/5:5:1", "b"]
			}
		]
	}
}