---
tags: Characters
name: Sylph
---
{
"name": "{{ name }}",
	"description": "This generator will give you random names for sylphs and similar air beings and deities.\n\nSylphs are air spirits often depicted as either (invisible) elementals or fairy-like creatures, but other forms exist as well. Sylphs aren't too common in mythological and other fictional stories though, and as a result don't really have stereotypical looks or behavior, although most do tend to be more good than evil. Playfulness, sensuality and mischievousness are relatively common themes as well, but there are others who are simply evil.\n\nThe names in this generator are based on a wider range of air deities from various cultures. This means there's a wider variety of names available as well, but they do all share similar elements. Softer and more melodic tones are dominant and mimic whisper-like and wind-like sounds. Some names will fit some cultural background better than others though, but since it's all fictional you could just as well use a more Asian language inspired name for an African background inspired sylph for example.",
	"uuid": "93f169c0-be2d-403e-9b36-de88f241caf1",
	"parts": {
		"a0": ["a", "e", "i", "o", "u"],
		"a1": ["ae", "ea", "ei", "ia", "ie", "ue", "ua", "aei", "aea", "eae"],
		"a2": ["c", "dh", "f", "h", "l", "m", "n", "ph", "s", "sh", "th", "v", "w", "y"],
		"a3": ["ch", "h", "hl", "hn", "hm", "hsh", "hph", "ht", "hth", "l", "lsh", "lf", "lm", "ln", "lph", "ls", "lt", "lth", "lv", "m", "mm", "mn", "mh", "ms", "msh", "mth", "mf", "n", "nh", "nl", "nsh", "nt", "ns", "nth", "nph", "nv", "nf", "nm", "nh", "nhr", "ph", "phr", "phn", "phl", "r", "rd", "rph", "rsh", "rs", "rth", "rh", "rn", "rm", "ss", "sn", "shn", "sh", "st", "sht", "t", "th", "thr", "v", "w", "y"],
		"a4": ["f", "ff", "h", "l", "m", "n", "ph", "s", "sh", "th", "y"],
		"m1": ["c", "ch", "l", "m", "n", "ph", "s", "th", "v", "w", "y"],
		"m2": ["bh", "c", "ch", "h", "y", "hl", "hm", "hy", "l", "lm", "ln", "ls", "lt", "lth", "lv", "ll", "m", "mm", "mn", "mh", "ms", "mth", "n", "nh", "nn", "nl", "nt", "ns", "nth", "nv", "nf", "nm", "nh", "nhr", "ph", "phr", "r", "rd", "rph", "rs", "rth", "rh", "rn", "rm", "rv", "ss", "sn", "sh", "st", "t", "th", "thr", "v", "w"],
		"m3": ["f", "l", "m", "n", "s", "th", "f", "ff", "h", "l", "m", "n", "ph", "s", "sh", "th", "y"],
		"f1": ["dh", "f", "h", "l", "m", "n", "ph", "s", "sh", "th", "w", "y"],
		"f2": ["c", "h", "y", "hl", "hn", "hm", "hsh", "hph", "hy", "hth", "ht", "l", "ll", "lsh", "lf", "ln", "lph", "ls", "lth", "m", "mn", "mh", "ms", "n", "nh", "nl", "nsh", "nt", "ns", "nth", "nph", "nf", "nm", "nh", "nhr", "ph", "phn", "phl", "r", "rd", "rph", "rsh", "rs", "rth", "rh", "rn", "rm", "ss", "sn", "shn", "sh", "st", "sht", "t", "th", "thr", "v", "w"],
		"f3": ["f", "ff", "h", "l", "m", "n", "ph", "s", "sh", "y", "f", "ff", "h", "ph", "s", "sh", "y"]
	},
	"output": {
		"rules": {
			"male1": "{m1}{a0:a1/8:2}{m2}{a0:a1/8:2}{m3}",
			"male2": "{m1}{a0:a1/8:2}{m2}{a0:a1/8:2}{m2}{a0:a1/8:2}{m3}",
			"female1": "{f1}%0.75{a0:a1/8:2}{f2}{a0:a1/8:2}{f3}%0.8",
			"female2": "{f1}%0.75{a0:a1/8:2}{f2}{a0:a1/8:2}{f3}%0.8{a0:a1/8:2}",
			"female3": "{a0:a1/8:2}{f2}{a0:a1/8:2}{f2}{a0:a1/8:2}{f3}%0.8{a0:a1/8:2}",
			"neutral1": "{a2}%0.73{a0:a1/8:2}{a3}{a0:a1/8:2}{a4}",
			"neutral2": "{a2}%0.73{a0:a1/8:2}{a3}{a0:a1/8:2}{a3}{a0:a1/8:2}{a4}"
		},
		"select": [
			{
				"name": "Male",
				"rule": ["male1", "male2"]
			},
			{
				"name": "Female",
				"rule": ["female1", "female2", "female3"]
			},
			{
				"name": "Neutral",
				"rule": ["neutral1", "neutral2"]
			}
		]
	}
}